@model Model1

<form method="post" asp-action="StepsTotalCalories">
    <input type="number" placeholder="... أدخل عدد السعرات هنا" asp-for="Numper_Of_Steps" class="form-control" />

    <button type="submit" class="btn btn-outline-info mt-3">أدخل</button>
</form>