
<div class="mb-3">
    <h1>السعرات الحرارية التي حرقتها</h1>

    <h2>@ViewBag.TotalCaloriesBurend</h2>

    <a asp-action="Steps" class="btn btn-outline-info mt-3">رجوع الى صفحة حساب لسعرات الحرارية</a>

</div>
